body {
    font-family: Arial, sans-serif;
    background-color: #002626;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EFE7DA;
}
#languageSelector, #difficultySelector {
    margin-bottom: 20px;
}

#wordDisplay {
    font-size: 2rem;
    letter-spacing: 10px;
    font-weight: bold;
}
#language, #difficulty {
    color: black;
    background-color: #95C623;
    font-size: 1rem;
}

#guessInput {
    text-transform: uppercase;
}
#guessButton{
    background-color: #95C623;
}
#hangmanImage {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    #wordDisplay {
        font-size: 1.5rem;
    }
}